<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DM+ – Innovation though Imagination</title>
  <meta name="description" content="Innovation though Imagination" />
  <meta name="robots" content="noodp,noydir" />
    <style>
       
    </style>
    
</html>
        <link rel="stylesheet" href="default/css/index.css" media="screen"> 
        <link rel="stylesheet" href="default/css/vendor.css" media="screen">    
        <link rel="stylesheet" href="default/css/main.css" media="screen">   
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700%7COpen+Sans:300,400,400i,700subset=cyrillic">    
        <link rel="stylesheet" href="default/css/font-awesome.min.css">   
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
  
    <link rel="icon" type="image/x-icon" href="default/img/favicon.ico">
   
</head>

<body screen_capture_injected="true">
  <div class="preloader" style="visibility: hidden; opacity: 0;">
    <div class="preloader__progress" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, -30);">
      <div class="preloader__progress-fill" style="transform-origin: left center 0px; transform: matrix(1, 0, 0, 1, 0, 0);"></div>
    </div>
    <div class="preloader__curtains">
      <div class="preloader__curtain bg-white" style="transform: translate(-100%, 0%) matrix(1, 0, 1, 1, 0, 0);"></div>
      <div class="preloader__curtain bg-black" style="transform: translate(-100%, 0%) matrix(1, 0, 1, 1, 0, 0);"></div>
      <div class="preloader__curtain bg-accent" style="transform: translate(-100%, 0%) matrix(1, 0, 1, 1, 0, 0);"></div>
    </div>
  </div>
  <header class="header header_absolute header_white">
        <div class="container-fluid header__container">
            <div class="row align-items-center header__row">
                <div class="col-auto header__wrapper-left header__col">
                    <a class="logo" href="index.html"><img class="lazy" src="./default/img/logo.png" alt="logo" width="98" height="115" style=""></a>
                </div>
                <div class="col-auto header__wrapper-center header__col d-none d-xl-block">
                    <ul class="menu">
                        <li><a href="/next/">Home</a></li>
                        <li><a href="/next/">Service</a></li>
                        <li><a href="/index/">Work</a></li>
                        <li><a href="/index/">Blog</a></li>
                        <li><a href="/contact/">Contact</a></li>
                    </ul>
                </div>
                <div class="col-auto header__wrapper-right header__col d-none d-xl-block">
                    <ul class="social">
                        <li class="social__item">
                            <a class="fa fa-fw social__icon fa-facebook-f" href="/index/"></a>
                        </li>
                        <li class="social__item">
                            <a class="fa fa-fw social__icon fa-twitter" href="index.html"></a>
                        </li>
                        <li class="social__item">
                            <a class="fa fa-fw social__icon fa-github" href="index.html"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto header__wrapper-right header__col d-xl-none">
                    <div class="burger js-burger">
                        <div class="burger__line"></div>
                        <div class="burger__line"></div>
                        <div class="burger__line"></div>
                    </div>
                </div>
            </div>
            <div class="header__wrapper-overlay-menu" style="visibility: hidden; opacity: 0;">
                <div class="header__overlay-menu-back elegant-icons arrow_back js-submenu-back" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 10, 0);"></div>
                <ul class="container menu-overlay js-menu-overlay">
                    <li class="menu-item-has-children">
                        <a href="index.html" data-post-id="0">
                            <div class="menu-overlay__item-wrapper" style="transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);"><span>Home</span></div>
                        </a>                        
                    </li>
                    <li class="menu-item-has-children">
                        <a href="index.html" data-post-id="1">
                            <div class="menu-overlay__item-wrapper" style="transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);"><span>Service</span></div>
                        </a>                        
                    </li>
                    <li class="menu-item-has-children">
                        <a href="index.html" data-post-id="2">
                            <div class="menu-overlay__item-wrapper" style="transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);"><span>Work</span></div>
                        </a>                        
                    </li>
                    <li class="menu-item-has-children">
                        <a href="index.html" data-post-id="3">
                            <div class="menu-overlay__item-wrapper" style="transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);"><span>Blog</span></div>
                        </a>                       
                    </li>
                    <li>
                        <a href="contact.html" data-post-id="5">
                            <div class="menu-overlay__item-wrapper" style="transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);"><span>Contact</span></div>
                        </a>
                    </li>
                </ul>
                <div class="header__wrapper-overlay-widgets" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, 10);">
                    <ul class="social">
                        <li class="social__item">
                            <a class="fa fa-fw social__icon fa-facebook-f" href="index.html"></a>
                        </li>
                        <li class="social__item">
                            <a class="fa fa-fw social__icon fa-twitter" href="index.html"></a>
                        </li>
                        <li class="social__item">
                            <a class="fa fa-fw social__icon fa-github" href="index.html"></a>
                        </li>
                    </ul>
                </div>
                <div class="header__wrapper-background">                    
                    <div class="header__diagonal-curtain-1" style="transform: translate(-50%, 0%) matrix(0.65606, -0.75471, 0.75471, 0.65606, 0, 0);"></div>
                    <div class="header__diagonal-curtain-2" style="transform: translate(50%, 0%) matrix(0.65606, -0.75471, 0.75471, 0.65606, 0, 0);"></div>
                    <div class="overlay overlay_accent header__overlay" style="visibility: hidden; opacity: 0;"></div>
                </div>
            </div>
        </div>
    </header>
  <div class="page-wrapper" id="page-wrapper">
    <section class="section section-masthead text-center color-white lazy jarallax" style="background-image: none;" data-jarallax-original-styles="background-image: url(&quot;img/assets/sectionMasthead/bg-1.jpg&quot;);">
      <header class="container section-masthead__header section-masthead__header_background">
        <div class="row">
          <div class="col">
            <h1>Portfolio 2 Col</h1>
            <div class="section-masthead__subheading">We Offer Digital Solutions</div>
          </div>
        </div>
      </header>
      <div class="overlay overlay_dark"></div>
      <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
        <div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;https://artemsemkin.com/harizma/html/img/assets/sectionMasthead/bg-1.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1903px; height: 860px; overflow: hidden; pointer-events: none; margin-top: 30px; transform: translate3d(0px, -417.5px, 0px);"></div>
      </div>
    </section>
    <section class="section section-portfolio section_pt section_pb">
      <div class="section-portfolio__wrapper-tabs">
        <div class="tabs filter container js-filter js-tabs">
          <div class="row justify-content-center">
            <div class="col-lg-auto col-12 tabs__item filter__item js-tabs__item js-filter__item tabs__item_active" data-filter="*">
              <h4>All</h4></div>
              <div class="col-lg-auto col-12 tabs__item filter__item js-tabs__item js-filter__item" data-filter=".category-design">
                <h4>Design</h4></div>
                <div class="col-lg-auto col-12 tabs__item filter__item js-tabs__item js-filter__item" data-filter=".category-mobile-apps">
                  <h4>Mobile Apps</h4></div>
                  <div class="col-lg-auto col-12 tabs__item filter__item js-tabs__item js-filter__item" data-filter=".category-develop">
                    <h4>Develop</h4></div>
                    <div class="col-lg-auto col-12 tabs__item filter__item js-tabs__item js-filter__item" data-filter=".category-strategy-analytics">
                      <h4>Strategy &amp; Analytics</h4></div>
                      <div class="tabs__underline filter__underline js-tabs__underline" style="width: 29px; transform: matrix(1, 0, 0, 1, 225.375, 0);"></div>
                    </div>
                  </div>
                </div>
                <div class="section-portfolio__wrapper-grid">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <div class="grid js-grid grid_30" style="position: relative; height: 1616.2px;">
                          <div class="grid__sizer js-grid__sizer grid__item_30 col-md-6 col-12" style="position: absolute; left: 0px; top: 0px;"></div>
                          <div class="grid__item js-grid__item grid__item_30 col-md-6 col-12 category-design" style="position: absolute; left: 0%; top: 0px;">
                            <a class="grid__item-link" href="https://artemsemkin.com/harizma/html/portfolio-single-project.html"><img class="lazy-masonry" src="./default/img/service-6-bg.jpg" alt="" style="">
                              <div class="grid__item-info">
                                <h3>Fashion Store</h3>
                                <div class="grid__item-category">Web Design</div>
                              </div>
                              <div class="overlay overlay_accent-normal grid__item-overlay"></div>
                            </a>
                          </div>
                          <div class="grid__item js-grid__item grid__item_30 col-md-6 col-12 category-design" style="position: absolute; left: 50%; top: 0px;">
                            <a class="grid__item-link" href="https://artemsemkin.com/harizma/html/portfolio-single-project.html"><img class="lazy-masonry" src="./default/img/service-2-bg.jpg" alt="" style="">
                              <div class="grid__item-info">
                                <h3>Fashion Store</h3>
                                <div class="grid__item-category">Web Design</div>
                              </div>
                              <div class="overlay overlay_accent-normal grid__item-overlay"></div>
                            </a>
                          </div>
                          <div class="grid__item js-grid__item grid__item_30 col-md-6 col-12 category-mobile-apps" style="position: absolute; left: 0%; top: 538.734px;">
                            <a class="grid__item-link" href="https://artemsemkin.com/harizma/html/portfolio-single-project.html"><img class="lazy-masonry" src="./default/img/service-4-bg.jpg" alt="" style="">
                              <div class="grid__item-info">
                                <h3>Fashion Store</h3>
                                <div class="grid__item-category">Web Design</div>
                              </div>
                              <div class="overlay overlay_accent-normal grid__item-overlay"></div>
                            </a>
                          </div>
                          <div class="grid__item js-grid__item grid__item_30 col-md-6 col-12 category-mobile-apps" style="position: absolute; left: 50%; top: 538.734px;">
                            <a class="grid__item-link" href="https://artemsemkin.com/harizma/html/portfolio-single-project.html"><img class="lazy-masonry" src="./default/img/service-6-bg.jpg" alt="" style="">
                              <div class="grid__item-info">
                                <h3>Fashion Store</h3>
                                <div class="grid__item-category">Web Design</div>
                              </div>
                              <div class="overlay overlay_accent-normal grid__item-overlay"></div>
                            </a>
                          </div>
                          <div class="grid__item js-grid__item grid__item_30 col-md-6 col-12 category-develop" style="position: absolute; left: 0%; top: 1077.47px;">
                            <a class="grid__item-link" href="https://artemsemkin.com/harizma/html/portfolio-single-project.html"><img class="lazy-masonry" src="./default/img/service-2-bg.jpg" alt="" style="">
                              <div class="grid__item-info">
                                <h3>Fashion Store</h3>
                                <div class="grid__item-category">Web Design</div>
                              </div>
                              <div class="overlay overlay_accent-normal grid__item-overlay"></div>
                            </a>
                          </div>
                          <div class="grid__item js-grid__item grid__item_30 col-md-6 col-12 category-strategy-analytics" style="position: absolute; left: 50%; top: 1077.47px;">
                            <a class="grid__item-link" href="https://artemsemkin.com/harizma/html/portfolio-single-project.html"><img class="lazy-masonry" src="./default/img/service-4-bg.jpg" alt="" style="">
                              <div class="grid__item-info">
                                <h3>Fashion Store</h3>
                                <div class="grid__item-category">Web Design</div>
                              </div>
                              <div class="overlay overlay_accent-normal grid__item-overlay"></div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section-portfolio__wrapper-button">
                  <div class="container">
                    <div class="row">
                      <div class="col text-center"><a class="button button_solid button_accent button_shadow" href="https://artemsemkin.com/harizma/html/portfolio-2-col.html#">Load More</a></div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="section section-cta section_pt-large section_pb-large color-white lazy jarallax" style="background-image: none;" data-jarallax-original-styles="background-image: url(./default/img/bg-1.jpg&quot;);">
                <div class="container section__content">
                  <div class="row">
                    <div class="col text-center">
                      <h2>Ready to work with us?</h2>
                      <div class="section-cta__wrapper-button"><a class="button button_solid button_white" href="https://artemsemkin.com/harizma/html/portfolio-2-col.html#">Purchase now</a></div>
                    </div>
                  </div>
                </div>
                <div class="overlay overlay_accent"></div>
                <div id="jarallax-container-1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
                  <div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;https://artemsemkin.com/harizma/html/img/assets/sectionCTA/bg-1.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1903px; height: 735.5px; overflow: hidden; pointer-events: none; margin-top: 92.25px; transform: translate3d(0px, 355.844px, 0px);"></div>
                </div>
              </section>
              <footer class="section footer text-center bg-light">
                <div class="container">
                  <div class="row footer__wrapper-widget">
                    <div class="col">
                      <a class="logo" href="https://artemsemkin.com/harizma/html/index.html"><img class="lazy" src="./default/img/logo.png" alt="" width="98" height="115" style=""></a>
                    </div>
                  </div>
                  <div class="row footer__wrapper-widget">
                    <div class="col">
                      <ul class="social">
                        <li class="social__item">
                          <a class="fa fa-fw social__icon fa-facebook-f" href="#"></a>
                        </li>
                        <li class="social__item">
                          <a class="fa fa-fw social__icon fa-twitter" href="#"></a>
                        </li>
                        <li class="social__item">
                          <a class="fa fa-fw social__icon fa-instagram" href="#"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row footer__wrapper-widget">
                    <div class="col"><small class="copyright">© 2019  – Agency HTML5 Template</small></div>
                  </div>
                </div>
              </footer>
              <div class="scroll-up js-scroll-up" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                <div class="scroll-up__icon arrow_up"></div>
              </div>
            </div>
            <!-- <script src="./js/vendor.js.download"></script>
            <script src="./js/components.js.download" async=""></script> -->
          </body>

          </html>